@import "./vendor/bootstrap/functions";
@import "./vendor/bootstrap/variables";
@import "./vendor/bootstrap/mixins";
@import "./vendor/bootstrap/grid";
@import "./vendor/bootstrap/flex";
@import "./vendor/bootstrap/spacing";
@import "./vendor/bootstrap/modal";
@import "./vendor/bootstrap/align";
@import "./utils/colors";
@import "./elements/index";
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}





