$q-blue-dark: #ABB7C6;
$q-blue-grey: #506574;
$q-modal-bg: #3E5261;
$q-blue-light: #B8E1DD;
$q-pink: #D8C4CA;
$q-grey-warm: #808080;
$q-grey-dark: #9198A2;
$q-grey-brown: #4d4d4d;
$q-yellow: #FEE6A7;
$q-purple: #4a4050;
