footer {
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .menu {
        margin-right: 32px;
        li {
            &:hover {
                cursor: pointer;
            }
        }
    }
    @include breakpoint(sm) {
        display: none;
    }
}



