form {
    padding: 0 !important;
    .inputs-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }
    .name, .email {
        font-family: 'Open Sans', sans-serif;
        width: 49%;
        border: none;
        height: 32px;
        padding-left: 14px;
        color: $q-grey-warm;
        font-size: 12px;
        font-weight: 400;
    }
    textarea {
        font-family: 'Open Sans', sans-serif;
        padding: 14px;
        height: 94px;
        width: 100%;
        max-width: 100%;
        border: none;
        resize: none;
        color: $q-grey-warm;
        font-size: 12px;
        font-weight: 400;
    }
}