.q-modal {
    .tingle-modal__closeIcon {
        font-size: 3rem;
    }
    .tingle-modal-box {
        max-width: 780px;
        border-radius: 0;
        background: $q-modal-bg;
        color: white;
        padding: 67px 82px 77px 82px;
        max-height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden;
        .tingle-modal-box__content {
            padding: 0;
            h1 {
                font-size: 24px;
                line-height: 28.9px;
                text-transform: uppercase;
            }
            h2 {
                font-size: 14px;
                line-height: 28.9px;
                text-transform: uppercase;
            }
            p, ul li {
                font-size: 14px;
                line-height: 28.9px;
                font-weight: 400;
            }
        }
    }
}
