// Page Colors, Size
.q-page {
    width: 100vw;
    height: 100vh;
    &#page-1 {
        background-color: $q-blue-dark;
    }
    &#page-3,
    &#page-6,
    &#page-8 {
        background-color: $q-grey-dark;
    }
    &#page-4,
    &#page-7 {
        background-color: $q-blue-light;
    }
    &#page-5,
    &#page-x {
        background-color: $q-yellow;
    }
    &#page-2,
    &#page-9 {
        background-color: $q-pink;
    }
}

.q-page {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    ::-webkit-scrollbar {
        display: none;
    }
    .content-container {
        position: relative;
    }
    .image-box {
        margin: auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .text-box {
        position: relative;
        margin: auto;
    }
    &:not(:last-of-type) {
        .text-box {
            p {
                min-height: 130px;
            }
        }
    }
    @include breakpoint(sm) {
        .text-box {
            padding: 0 32px 16px 32px !important;
            h1 {
                font-size: 17px;
            }
            p {
                font-size: 13px;
            }
        }
    }
}

#page-1 {
    .image-box {
        background-image: url("./images/logo-white.svg");
        height: 216px;
        margin-left: -70px;
    }
    .extra-image {
        background-image: url("./images/suit.svg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: -275px;
        top: -205px;
        height: 320px;
        width: 203px;
    }
    .text-box {
        max-width: 468px;
        h1 {
            font-size: 1rem;
            margin-bottom: 0;
            margin-top: 29px;
            line-height: 29px;
            font-weight: 600;
            letter-spacing: inherit;
        }
        p {
            line-height: 29px;
            margin-top: 0;
        }
    }
    @include breakpoint(md) {
        .extra-image {
            display: none;
        }
    }
    @include breakpoint(sm) {
        .image-box {
            margin-left: 0;
        }
    }
}

#page-2 {
    .image-box {
        height: 458px;
        background-image: url("./images/page-2.svg");
    }
    .text-box {
        margin-top: 100px;
    }
    @media screen and (max-height: 900px) {
        .image-box {
            height: 350px;
        }
        .text-box {
            margin-top: 40px;
        }
    }
    @include breakpoint(sm) {
        .image-box {
            height: 100px;
        }
        .text-box {
            margin-top: 0;
        }
    }
}

#page-3 {
    .image-box {
        height: 353px;
        margin-bottom: 80px;
        &--de {
            background-image: url("./images/page-3-de.svg");
        }
        &--en {
            margin-left: -5px;
            background-image: url("./images/page-3-en.svg");
        }
    }
    @media screen and (max-height: 900px) {
        .image-box {
            height: 290px;
            margin-bottom: 40px;
        }
    }
    @include breakpoint(sm) {
        .image-box {
            height: 150px;
            margin-bottom: 0;
        }
    }
}

#page-4 {
    .image-box {
        height: 518px;
        margin-bottom: 80px;
        &--de {
            background-image: url("./images/page-4-de.svg");
        }
        &--en {
            background-image: url("./images/page-4-en.svg");
        }
    }
    @media screen and (max-height: 900px) {
        .image-box {
            height: 300px;
            margin-bottom: 30px;
        }
    }
    @include breakpoint(sm) {
        .image-box {
            height: 130px;
            margin-bottom: 0;
        }
    }
}

#page-5 {
    .image-box {
        margin-bottom: 60px;
        height: 379px;
        background-image: url("./images/page-5.svg");
    }    
    @media screen and (max-height: 900px) {
        .image-box {
            height: 250px;
            margin-bottom: 40px;
        }
    }
    @include breakpoint(sm) {
        .image-box {
            height: 120px;
            margin-bottom: 0;
        }
    }
}

#page-6 {
    .image-box {
        margin-bottom: 80px;
        height: 470px;
        background-image: url("./images/page-6.svg");
    }
    @media screen and (max-height: 900px) {
        .image-box {
            height: 330px;
            margin-bottom: 30px;
        }
    }
    @include breakpoint(sm) {
        .image-box {
            margin-bottom: 0;
            height: 150px;
        }
    }
}

#page-7 {
    .image-box {
        margin-bottom: 60px;
        height: 414px;
        background-image: url("./images/page-7.svg");
    }
    @media screen and (max-height: 900px) {
        .image-box {
            height: 330px;
            margin-bottom: 20px;
        }
    }
    @include breakpoint(sm) {
        .image-box {
            margin-bottom: 0;
            height: 150px;
        }
    }
}

#page-8 {
    .image-box {
        margin-bottom: 80px;
        height: 435px;
        background-image: url("./images/page-8.svg");
    }
    @media screen and (max-height: 900px) {
        .image-box {
            height: 340px;
            margin-bottom: 40px;
        }
    }
    @include breakpoint(sm) {
        .image-box {
            margin-bottom: 0;
            height: 150px;
        }
    }
}

#page-9 {
    .image-box {
        margin-bottom: 80px;
        height: 435px;
        background-image: url("./images/page-9.svg");
    }
    @media screen and (max-height: 900px) {
        .image-box {
            height: 340px;
            margin-bottom: 40px;
        }
    }
    @include breakpoint(sm) {
        .image-box {
            margin-bottom: 0;
            height: 220px;
        }
    }
}

#page-x {
    .image-box {
        margin-bottom: 50px;
        height: 449px;
        background-image: url("./images/page-10.svg");
    }
    @media screen and (max-height: 900px) {
        .image-box {
            height: 330px;
            margin-bottom: 0;
        }
    }
    @include breakpoint(sm) {
        .image-box {
            margin-bottom: 0;
            height: 120px;
        }
        .text-box {
            padding-bottom: 0 !important;
        }
        .form-group {
            padding: 20px 20px 10px 20px;
        }
        .q-button {
            margin-left: 20px;
            margin-top: 0;
        }
        p.mt-0 {
            font-size: 13px;
            text-align: center;
        }
        .separator {
            width: 60%;
            margin: 24px auto;
        }
    }
}
