/* Width */
.tingle-modal-box::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.tingle-modal-box::-webkit-scrollbar-track {
    background: $q-scrollbar-bg;
}

/* Handle */
.tingle-modal-box::-webkit-scrollbar-thumb {
    background: $q-scrollbar-thumb;
}

/* Remove scrollbar on modals that don't scroll */
.about-us-modal .tingle-modal-box::-webkit-scrollbar,
.impressum-modal .tingle-modal-box::-webkit-scrollbar,
.contact-modal .tingle-modal-box::-webkit-scrollbar {
    display: none;
}